aws_region                 = "us-east-1"
project_name               = "vizier-inference"
environment                = "dev"
single_az_mode             = true
enable_nat_gateway         = true
enable_vpc_endpoints       = false
django_allowed_hosts       = "*"
backend_image_tag          = "latest"
biomedparse_image_tag      = "latest"
manage_backend_ecr_repository     = false
external_backend_ecr_repository_url = "123456789012.dkr.ecr.us-east-1.amazonaws.com/vizier-backend-dev"
manage_biomedparse_ecr_repository = false
external_biomedparse_ecr_repository_url = "123456789012.dkr.ecr.us-east-1.amazonaws.com/biomedparse"
biomedparse_image_override = "123456789012.dkr.ecr.us-east-1.amazonaws.com/biomedparse:latest"
ecr_force_delete           = false

rds_password      = "change-me"
django_secret_key = "change-me"
rds_skip_final_snapshot = true
# rds_final_snapshot_identifier = "vizier-postgres-dev-final-20260314"

inference_api_bearer_token = ""
enable_stripe_billing = true
stripe_secret_key = "sk_test_change_me"
stripe_webhook_secret = "whsec_change_me"
# opcional:
# stripe_product_id = "prod_xxx"
# stripe_price_id_individual_monthly = "price_xxx"
# stripe_price_id_individual_annual = "price_xxx"
# stripe_price_lookup_key_individual_monthly = "individual_monthly"
# stripe_price_lookup_key_individual_annual = "individual_annual"

frontend_upload_allowed_origins = [
  "https://dev.example.com",
]

stripe_allowed_redirect_origins = [
  "https://dev.example.com",
]

alb_ingress_cidrs = [
  "0.0.0.0/0",
]
